@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */


body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* タイポグラフィ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px; font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
  
  
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h1#top-main-title {
  
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ヘッダー */
.header-color {
  background-color: blue;
  
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-style: italic;
}

li.dropdown-header  {
  color: #777777;
  background:rgba(200,200,200,0.5);
  padding:3px,20px;
  font-weight: bold;
}


  


#logo:hover {
  text-decoration: none;
  color: gray;
}



.navbar-inverse .navbar-nav > li > a {
    color: white;
}
 
.navbar-inverse .navbar-nav > li > a:hover{
    color: gray;
} 

a.dropdown-toggle {
  color: white;
  background-color: blue !important;
  
}

a.btn-btn-lg.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  
}

a.btn.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

a.btn.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
  
}

label.label-form {
  
}

input.form-control {
  
}

input#remember-me {
  
}

span {
  
}

input.btn.btn-primary.btn-block.btn-form {
  
}
/* デバッグウインドウ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* エラーメッセージ */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
