.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-login {
  margin-top: 5px;
}

.btn-login {
  margin-top: 10px 0px 0px;
  padding: 6px 12px;
  
}

.checkbox-login {
  width: auto;
  margin-left: 25px;
  span {
    font-weight: normal;
  }
}


.form-control {
  padding: 6px 12px;
}